@model NemeShop.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Chi tiết hóa đơn";
}

<h2>Chi tiết hóa đơn</h2>
<hr />

<dl class="row">
    <dt class="col-sm-2">Mã chi tiết</dt>
    <dd class="col-sm-10">@Model.MaCthd</dd>

    <dt class="col-sm-2">Số lượng</dt>
    <dd class="col-sm-10">@Model.SoLuong</dd>

    <dt class="col-sm-2">Đơn giá</dt>
    <dd class="col-sm-10">@Model.DonGia.ToString("N0") đ</dd>

    <dt class="col-sm-2">Thành tiền</dt>
    <dd class="col-sm-10">@Model.ThanhTien.ToString("N0") đ</dd>

    <dt class="col-sm-2">Hóa đơn</dt>
    <dd class="col-sm-10">
        @Model.MaHdNavigation?.MaHd
        (Ngày lập: @Model.MaHdNavigation?.NgayLap.ToString("dd/MM/yyyy"))
    </dd>

    <dt class="col-sm-2">Sản phẩm</dt>
    <dd class="col-sm-10">
        @Model.MaSpNavigation?.TenSp
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.MaCthd" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>
